@import '_utils/_variables';

:root {
  --header-height: 300px;

  @media screen and (max-width: $mobile-screen-size) {
    --header-height: 200px;
  }
}

body,html{
  font-family:Montserrat;
  padding:0;
  margin:0;
  height: 100%;
}

.container{
  background:white;
}

.content-wrapper{
  position:relative;
  top:$content-wrapper-top;
  display: flex;
  flex-direction: column;
  min-height: calc(100% - (#{$header-height} + #{$content-wrapper-top}));
}

@import 'elements/main';
@import 'elements/header';
@import 'elements/footer';