@import '../_utils/_variables';
@import '../_utils/_mixins';
.footer-container {
    font-size: 12px;
    margin-top: auto;
    padding: .5rem 1rem;
    display: flex;
    color: $gray;
    justify-content: space-between;
    >.designercredits {
        >.link:visited,
        >.link:hover,
        >.link:active,
        >.link:link {
            color: $gray-light;
            font-weight: bold;
            text-decoration: none;
        }
    }
    >.madewith>.hearticon {
        color: $pink;
    }
}
