@import '../_utils/_variables';
@import '../_utils/_mixins';

.profile-body{
  text-align:center;
  padding:0 1rem;
  >.name{
    color:$black;
    font-weight:normal;
    text-transform:uppercase;
  }
  >.location{
    font-weight:bold;
    color:$pink;
  }
  >.biography{
    color:$gray;
    @media screen and(min-width:$mobile-screen-size){
      max-width: 900px;
    }
    margin: 0 auto;
  }
}

.social-area{
  padding:2rem;
  font-size:35px;
  margin:0 auto;
  >.icon{
    margin: 0 .5rem;
    &:active,&:link,&:visited{
      color:$gray-light;
      text-decoration:none;
      outline:none;
    }
    &:hover{
      color:$pink;
      cursor:pointer;
    }
  }
}
