@import '../_utils/_variables';
@import '../_utils/_mixins';

.profile-header{
  position:relative;
  height: $header-height;
  >.background{
    @include size(100%);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
  }

  >.photocontainer{
    $mobile-circle-size:140px;
    $desktop-circle-size:270px;
    @include size($desktop-circle-size);
    box-shadow: 0 1px 3px rgba(246,38,88,0.12), 0 1px 2px rgba(246,38,88,0.24);
    border-radius:50%;
    position:absolute;
    margin:0 auto;
    left:0;
    right: 0;
    padding:5px;
    border:solid 7px $pink;
    top:30%;
    @media screen and(max-width:$mobile-screen-size){
      @include size($mobile-circle-size);
      border-width: 3px;
      top:60%;
    }
    >.image{
      @include size($desktop-circle-size);
      border-radius:50%;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
      @media screen and(max-width:$mobile-screen-size){
        @include size($mobile-circle-size);
      }
    }
  }

}
